body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 1em 5em;
    color: white;
    background-color: rgb(138, 55, 247);
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
}
