body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 1em 5em;
    color: white;
    background-color: rgb(138, 55, 247);
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
}

.h1h1{
    color: blue;
}

.input{
    width: 467px;
    height: 100px;
    resize: none;
    padding: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
}
